<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-title">
                    <h6>ADDRESS</h6>
                    <p>PO BOX 767398, Roswell, GA 30076<br>
                        <a href="tel:+1 (678) 504 8981">+1 (678) 504 8981</a><br>
                        <a href="mailto:info@pgecom.com">info@pgecom.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-title">
                    <h6>FOLLOW US</h6>
                    <ul>
                        <li><a href="https://www.facebook.com/pgecom">Follow us on Facebook</a></li>
                        <li><a href="https://www.youtube.com/channel/UCkg2EsiO2FASY3ZBlPIcI-g">Find us on YouTube</a></li>
                        <li><a href="https://twitter.com/pgecommerce">Connect with us on Twitter</a></li>
                        <li><a href="https://www.instagram.com/pgecom/">Follow us on Instagram</a></li>
                        <li><a href="https://help.pgecom.com/">Help</a></li>
                        <li><a href="https://t.me/+Up2dG_v6cnJ9yshe">Join our Telegram Group</a></li>
                        <li><a href="https://chat.whatsapp.com/GGfyVzp9jxa0Ap08tfecpM">Join our Whatsapp Group</a></li>
                        <li><a href="https://www.facebook.com/groups/196555738106924">Join Facebook Group</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-title">
                    <h6>POLICIES</h6>
                    <ul>
                        <li><a href="./refund-policy">Refund Policy</a></li>
                        <li><a href="./terms-policy">Terms of Service</a></li>
                        <li><a href="./privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-title">
                    <h6>ABOUT US</h6>
                    <p>Protege Global Ecommerce (PG-ecom) has trained over 1,200 people in how to launch and manage
                        successful online businesses.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2021. Protege Global Ecommerce, INC</p>
                </div>
            </div>
        </div>
    </div>
</footer>